
.wraper {
    padding: 50px 150px 0 150px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: green;
}
table {
    text-align: center;
    margin-top: 20px;
    padding: 0;
    border-radius: 5px;
}
thead{
    background-color: lightgray;
}


th:nth-child(1) {
    width: 20px;
    border-radius: 5px 0 0 0;
}

th:nth-child(2) {
    width: 200px;
}

th:nth-child(3) {
    width: 50px;
}

th:nth-child(4) {
    width: 20px;
    border-radius:  0 5px 0  0 ;
}

.name {
    text-align: left;
}

textarea{
    height:20rem;
}
.readmodify_textarea, .readmodify_textarea:focus, .readmodify_textarea:active, textarea:focus{
    background-color: #FFF !important;
    outline: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.writing_button_div {
    display: flex;
    padding-bottom: 20px;
}

.writing_button {
    margin-left: auto;
}


.submit {
    display: flex;
    justify-content: center;
}

.submit_card {
    padding: 20px;
    margin-bottom: 30px;
    width: 75%;
    display: none;
    background-color: lightgray;
}


.input-group-text {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f7f7f7;
}

.content_btn_div {
    display: flex;
}

.content_btn_sub_div {
    margin-left: auto;
}
.form-label{
    margin:5px;
}
.edit_btn, .cancle_btn, .submit_btn {
    border: 1px solid lightgray;
}
.tr_title:hover {
    background-color: rgba(142,185,139,0.48);
    cursor:pointer;
}

.row_title{
    font-weight: bold;
    background-color: lightgray;
}

.onlymine_btn{
    border: darkgreen solid 2px;
}
button:active, button:focus{
    outline: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
